<div class="home">
  <h1 class="title">Welkom bij HippoPlanner!</h1>

  <p style="padding-bottom: 5px;color:red;"><strong>BELANGRIJK BERICHT:</strong></p>
  <p><strong>Beste HippoPlanners,<br>
      Door het opstarten van mijn eigen stal en mijn laatste maanden school, <br>
      heb ik momenteel de tijd niet op HippoPlanner up-to-date te houden.<br>
      Wellicht pak ik de site weer op als ik wat meer tijd krijg, <br>
      dan hoop ik jullie allemaal terug te mogen verwelkomen!
      <br><br>
      Dankjewel,<br>
      Laurie</strong></p>

  <p>Vergeet zeker niet onze <a href="https://www.facebook.com/hippoplanner" target="_blank">Facebookpagina</a> leuk te
    vinden! Op deze manier kan u alle wijzigingen opvolgen!</p>

  <p>Welke ruiter kent het niet: een steeds veranderende wedstrijdplanning. Nieuwe wedstrijden, paarden die op een ander
    niveau
    lopen of last-minute familie-uitjes. Om de paniek die daarop volgt te voorkomen is er HippoPlanner. Hier zal u alle
    spring-,
    dressuur- en eventingwedstrijden vinden die in België georganiseerd worden. Ook clinics, oefenwedstrijden en andere
    paardgerelateerde
    evenementen worden hier gebundeld.</p>
</div>