<form class="form" (ngSubmit)="login()" [formGroup]="form">
  <input type="text" placeholder="Username" formControlName="email">
  <input type="password" placeholder="Password" formControlName="password">
  <button type="submit" id="login-button">Login</button>
</form>
