<div class="layout">
  <div class="navigation">
    <div class="navigation__logo">
      <img src="assets/logo.png">
    </div>
    <div>
      <a class="navigation__item" routerLink="/admin/wedstrijd/jumping" routerLinkActive="navigation__item-active">
        <span>Jumping</span>
      </a>
    </div>
    <div>
      <a class="navigation__item" routerLink="/admin/wedstrijd/dressuur" routerLinkActive="navigation__item-active">
        <span>Dressuur</span>
      </a>
    </div>
    <div>
      <a class="navigation__item" routerLink="/admin/wedstrijd/eventing" routerLinkActive="navigation__item-active">
        <span>Eventing</span>
      </a>
    </div>
    <div>
      <a class="navigation__item" routerLink="/admin/wedstrijd/overig" routerLinkActive="navigation__item-active">
        <span>Overig</span>
      </a>
    </div>
    <!-- <div>
      <a class="navigation__item" routerLink="/admin/contact" routerLinkActive="navigation__item-active">
        <span>Contact</span>
      </a>
    </div> -->
    <div *ngIf="authorized">
      <button class="btn-logout" (click)="logOut()">Log out</button>
    </div>
  </div>
  <div class="layout__main">
    <router-outlet></router-outlet>
  </div>
</div>
