@import '_variables.scss';

body {
  margin: 0;
  font-family: $font--main;
  font-size: 16px;
  line-height: 170%;
  max-height: 100vh;
  overflow: hidden;
}

h1.title,
h2.title,
h3.title {
  margin-bottom: 30px;
  text-align: center;
  font-family: $font--title;
}

h1.title {
  font-size: 2.2em;
}

p {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.btn {
  border: none;
  background-color: transparent;

  &:hover, &:active, &:focus {
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}

.btn-logout {
  margin-left: 10px;
  border: 1px solid $color--beige-light;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 30px;
  position: absolute;
  bottom: 10px;

  &:hover {
    background-color: $color--beige-light;
    transition: all 0.2s;
  }
}

.layout {
  background-color: #e8e8e8;
  display: grid;

  grid-template-areas: 'navigation main';
  grid-template-columns: $navigation--width 1fr;
  grid-template-rows: 1fr;

  min-height: 100vh;
}

.navigation {
  background-color: $color--beige;
  font-family: $font--title;
  grid-area: navigation;

  .navigation__logo {
    height: $logo--height;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid $color--black-soft;

    img {
      height: 100%;
    }
  }

  .navigation__item {
    color: $color--black;
    display: block;
    font-weight: bold;
    padding: 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid $color--black-soft;

    &:hover {
      background-color: $color--beige-light;
    }
  }

  .navigation__item-active {
    &:after {
      content: '';
      border-bottom: 10px solid transparent;
      border-right: 15px solid $color--grey;
      border-top: 10px solid transparent;
      height: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
    }
  }
}

.layout__main {
  background-color: $color--grey;
  grid-area: main;
  padding: 30px;
  max-height: 100vh;
  overflow: scroll;
}

.btn-hambuger {
  visibility: hidden;
  font-size: 1.4em;
  position: absolute;
  top: 10px;
  left: 10px;
}

.home {
  p {
    padding-bottom: 40px;
  }

  h1 {
    padding-bottom: 30px;
  }
}

.btn {
  font-size: 1em;
}

.contact {
  .form-control {
    margin-bottom: 20px;
  }

  p {
    padding-bottom: 20px;
  }

  form {
    padding-top: 20px;
  }

  .btn {
    float: right;
    background-color: $color--beige;
    border: 2px solid $color--beige;
    padding: 10px 60px;

    &:hover {
      background-color: $color--beige-light;
      transition: all 0.3s;
    }
  }
}

.credits {
  position: absolute;
  font-size: 0.7em;
  a {
    color: $color--beige-light;
  }
}

@media(min-width: 601px) {
  .credits {
    bottom: 0px;
    left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .layout {
    grid-template-areas: 'main';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .layout__main {
    max-width: 100%;
    overflow: scroll;
  }

  .btn-hambuger {
    visibility: visible;
  }

  .navigation {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(223,204,153,0.9);
    opacity: 0;
    pointer-events: none;
    overflow: scroll;
    
  }

  .navigation-open {
    opacity: 1;
    transition: opacity 0.2s;
    z-index: 99;
    pointer-events: initial;
  }

  .btn-group {
    margin-bottom: 20px;
  }

  .credits {
    top: 0px;
    right: 5px;
  }
}
