// Colors
$color--beige-dark: #dfcc99;
$color--beige: #e5d6ac;
$color--beige-middle: #f1e9d2;
$color--beige-softmiddle: #f5f5f5;
$color--beige-light: #fffff1;
$color--black: #000;

$color--grey: #fafafa;
$color--white: #fff;
$color--blue: #90caf9;
$color--black-soft: #787c82;

// Fonts
$font--title: 'Raleway';
$font--main: 'Open Sans';

// Other variables
$navigation--width: 250px;
$logo--height: 130px;
