.btn.wedstrijd__button {
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
  color: $color--black;
  background-color: $color--beige;
}

table.table-striped {
  tbody > tr {
    &:hover {
      cursor: pointer;
    }
  }

  .clickable {
    i {
      font-size: 0.9em;
      padding-left: 5px;
    }

    div {
      display: flex;
      align-items: center;
    }
  }
}

input {
  height: 2rem;
}

.btn-filter {
  cursor: pointer;
  background-color: $color--beige;
}
.btn.activebtn {
  background-color: $color--beige-light;
  cursor: default;
}
.btn-group {
  border: 2px solid $color--beige;
  border-radius: 6px;
}

.btn-save {
  background-color: $color--beige-dark;
  border: 2px solid transparent;
  margin-left: 20px;

  &:hover {
    background-color: white;
    border: 2px solid $color--beige-dark;
    transition: all 0.4s;
  }
}

.btn-save, .btn-cancel, .btn-delete {
  padding: 10px 30px;
  margin-top: 30px;
}

.btn-cancel {
  border: 2px solid black;

  &:hover {
    border: 2px solid $color--beige-dark;
  }
}

.btn-delete {
  background-color: #e03e3e;
  color: white;
  border: 2px solid transparent;

  &:hover {
    background-color: white;
    color: black;
    border: 2px solid #e03e3e;
    transition: all 0.4s;
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

input[type='checkbox'],
input[type='radio'] {
  margin-top: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $color--beige-softmiddle;
}

.switch input {
  display: none;
}
.switch {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-left: 17px;
  margin-right: 10px;
  transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #777;
  border-radius: 30px;
  transform: translateX(-25px);
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(25px);
  background: $color--beige;
}
input:checked + .slider {
  box-shadow: 0 0 0 2px $color--beige, 0 0 2px $color--beige;
}

.ngx-pagination {
  float: right;

  .current {
    background: $color--beige-dark !important;
  }
}

.wedstrijd__info {
  width: 100%;

  tr {
    td {
      &:nth-child(odd) {
        text-align: right;
        font-weight: bold;
        width: 40%;
      }

      &:nth-child(even) {
        text-align: left;
        padding-left: 20px;
        width: 60%;
      }
    }
  }
}