<div class="contact">
  <h1 class="title">Contact</h1>

  <p>Hebt u een idee, toevoeging, klacht of zag u ergens een spellingfout staan? <br> Wilt u graag een wedstrijd op de kalender
    zien verschijnen?
    <br><br> Neem dan contact op met HippoPlanner en wij zullen u zo snel mogelijk helpen!</p>

  <form (ngSubmit)="processForm()">
    <div class="field">
      <input type="text" name="name" class="form-control" placeholder="Naam" [(ngModel)]="name">
    </div>

    <div class="field">
      <input type="email" name="mail" class="form-control" placeholder="E-mail" [(ngModel)]="mail">
    </div>

    <div class="field">
      <textarea class="form-control" name="message" rows="7" placeholder="Waarmee kunnen wij u helpen?" [(ngModel)]="message"></textarea>
    </div>

    {{emailResponse}}

    <button type="submit" class="btn">Verzenden</button>

  </form>
</div>