<div class="layout">
  <div class="navigation" [ngClass]="{'navigation-open': menuActive}">
    <div class="nav">
      <button type="button" *ngIf="menuActive" class="btn btn-default btn-hambuger" (click)="menuActive=!menuActive">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <div class="navigation__logo">
        <a href="/"><img src="assets/logo.png"></a>
      </div>
      <div>
        <a class="navigation__item" (click)="menuActive=!menuActive" routerLink="/home" routerLinkActive="navigation__item-active">
          <span>Home</span>
        </a>
      </div>
      <div>
        <a class="navigation__item" (click)="menuActive=!menuActive" routerLink="/wedstrijd/jumping" ng-class="{navigation__item-active: true}"
          routerLinkActive="navigation__item-active">
          <span>Jumping</span>
        </a>
      </div>
      <div>
        <a class="navigation__item" (click)="menuActive=!menuActive" routerLink="/wedstrijd/dressuur" routerLinkActive="navigation__item-active">
          <span>Dressuur</span>
        </a>
      </div>
      <div>
        <a class="navigation__item" (click)="menuActive=!menuActive" routerLink="/wedstrijd/eventing" routerLinkActive="navigation__item-active">
          <span>Eventing</span>
        </a>
      </div>
      <div>
        <a class="navigation__item" (click)="menuActive=!menuActive" routerLink="/wedstrijd/overig" routerLinkActive="navigation__item-active">
          <span>Overig</span>
        </a>
      </div>
      <div>
        <a class="navigation__item" (click)="menuActive=!menuActive" routerLink="/contact" routerLinkActive="navigation__item-active">
          <span>Contact</span>
        </a>
      </div>
    </div>
    <div class="credits">
      Gemaakt door <a href="https://www.pawfectshots.be" target="_blank">Tinne Jacobs</a>
    </div>
  </div>
  <div class="layout__main">
    <button type="button" class="btn btn-default btn-hambuger" (click)="menuActive=!menuActive">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <router-outlet></router-outlet>
  </div>
</div>