<div *ngIf="wedstrijd">
  <h1 class="title">{{discipline | titlecase}} {{wedstrijd.locatie}} - {{wedstrijd.startdatum | date:'dd/MM/yyyy'}}</h1>

  <table class="wedstrijd__info">
    <tbody>
      <tr>
        <td>Datum</td>
        <td>{{wedstrijd.startdatum}}</td>
      </tr>
      <tr *ngIf="discipline != 'overig'">
        <td>Organisatie</td>
        <td>{{wedstrijd.organisatie}}</td>
      </tr>
      <tr *ngIf="discipline === 'overig'">
        <td>Type</td>
        <td>{{wedstrijd.type}}</td>
      </tr>
      <tr>
        <td>Locatie</td>
        <td>{{wedstrijd.locatie}}</td>
      </tr>
      <tr>
        <td>Adres</td>
        <td>{{wedstrijd.adres}}<span *ngIf="wedstrijd.adres && (wedstrijd.gemeente || wedstrijd.provincie)">, </span>{{wedstrijd.gemeente}}<span
            *ngIf="wedstrijd.gemeente && wedstrijd.provincie">, </span>{{wedstrijd.provincie}}</td>
      </tr>
      <tr *ngIf="discipline != 'overig'">
        <td>Inschrijven via</td>
        <td>
          <a href="{{wedstrijd.inschrijving?.link}}">{{wedstrijd.inschrijving?.text}}</a>
        </td>
      </tr>
      <tr *ngIf="discipline != 'overig'">
        <td>Startlijst</td>
        <td>
          <a href="{{wedstrijd.startlijst?.link}}">{{wedstrijd.startlijst?.text}}</a>
        </td>
      </tr>
      <tr *ngIf="discipline != 'overig'">
        <td>Proeven</td>
        <td>{{wedstrijd.proeven}}</td>
      </tr>
      <tr *ngIf="discipline != 'overig'">
        <td>Bodem</td>
        <td>{{wedstrijd.bodem}}</td>
      </tr>
      <tr *ngIf="discipline != 'overig'">
        <td>Omgeving</td>
        <td>{{wedstrijd.omgeving}}</td>
      </tr>
      <tr *ngIf="discipline === 'overig'">
        <td>Informatie via</td>
        <td [innerHTML]="wedstrijd.informatie"></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="wedstrijd.kaart">
    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(wedstrijd.kaart)" height="300px" width="500px" frameborder="0" style="border:0;margin-top:30px;margin-left:50%;transform:translateX(-50%);"
      allowfullscreen></iframe>
  </div>
</div>