<div class="detail">
  <h1 class="title">{{discipline | titlecase}} Detail</h1>

  <form class="adminForm" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <div>
      <label for="startdatum" class="control-label">Startdatum *</label>
      <input type="date" class="form-control" formControlName="startdatum">
    </div>
    <div>
      <label for="einddatum" class="control-label">Einddatum</label>
      <input type="date" class="form-control" formControlName="einddatum">
    </div>
    <div>
      <label for="organisatie" class="control-label">Organisatie *</label>
      <input type="text" class="form-control" formControlName="organisatie">
    </div>
    <div>
      <label for="locatie" class="control-label">Locatie</label>
      <input type="text" class="form-control" formControlName="locatie">
    </div>
    <div>
      <label for="adres" class="control-label">Adres *</label>
      <input type="text" class="form-control" formControlName="adres">
    </div>
    <div>
      <label for="gemeente" class="control-label">Gemeente *</label>
      <input type="text" class="form-control" formControlName="gemeente">
    </div>
    <div>
      <label for="provincie" class="control-label">Provincie *</label>
      <input type="text" class="form-control" formControlName="provincie">
    </div>
    <div>
      <label for="deelVanBelgie" class="control-label">Vlaanderen/Wallonië * (Wallonië ingeven als Wallonie)</label>
      <input type="text" class="form-control" formControlName="deelVanBelgie">
    </div>
    <div formGroupName="inschrijving">
      <label>Inschrijven via: Link</label>
      <input type="text" formControlName="link">
    </div>
    <div formGroupName="inschrijving">
      <label>Inschrijven via: Tekst</label>
      <input type="text" formControlName="text">
    </div>
    <div formGroupName="startlijst">
      <label>Startlijst: Link</label>
      <input type="text" formControlName="link">
    </div>
    <div formGroupName="startlijst">
      <label>Startlijst: Tekst</label>
      <input type="text" formControlName="text">
    </div>
    <div>
      <label for="resultaten" class="control-label">Resultaten</label>
      <input type="text" class="form-control" formControlName="resultaten">
    </div>
    <div>
      <label for="proeven" class="control-label">Proeven (Momenteel best ingeven als 'proef 1 ; proef 2 ; proef 3')</label>
      <input type="text" class="form-control" formControlName="proeven">
    </div>
    <div>
      <label for="omgeving" class="control-label">Omgeving</label>
      <input type="text" class="form-control" formControlName="omgeving">
    </div>
    <div>
      <label for="bodem" class="control-label">Bodem</label>
      <input type="text" class="form-control" formControlName="bodem">
    </div>
    <div>
      <label for="type" class="control-label">Type</label>
      <input type="text" class="form-control" formControlName="type">
    </div>
    <div>
      <label for="informatie" class="control-label">Informatie</label>
      <input type="text" class="form-control" formControlName="informatie">
    </div>
    <div>
      <label for="kaart" class="control-label">Kaart</label>
      <input type="text" class="form-control" formControlName="kaart">
    </div>
    <div>
      <label for="gearchiveerd" class="control__last control-label">Gearchiveerd</label>
      <input type="checkbox" class="" formControlName="gearchiveerd">
    </div>


    <button class="btn btn-cancel" (click)="onCancel($event)" type="button">Cancel</button>
    <button class="btn btn-save" type="submit">Save</button>
    <button *ngIf="wedstrijd.id" class="btn btn-delete pull-right" (click)="onDelete(wedstrijd, $event)">Delete</button>
  </form>
</div>