<div class="wedstrijd">
  <h1 class="title">{{discipline | titlecase }}</h1>

  <button class="btn wedstrijd__button" (click)="archive()">Archive</button>
  <button class="btn wedstrijd__button" (click)="onAdd()">Add {{discipline}}</button>

  <div class="col-md-6">
    <form novalidate [formGroup]="searchForm">
      <div class="form-group">
        <input class="search__input form-control search" type="text" placeholder="Search ..." formControlName="search">
      </div>
    </form>
    <div class="row" style="margin-bottom: 20px;">
      <label class="switch">
        <input type="checkbox" [(ngModel)]="showGearchiveerd" (click)="changeGeactiveerd()">
        <span class="slider"></span>
      </label>
      <label for=""> Gearchiveerde wedstrijden</label>
    </div>
  </div>


  <table class="table table-striped" *ngIf="!showGearchiveerd && discipline != 'overig'">
    <thead>
      <tr>
        <th (click)="chanceOrder('sorteerDatum')" class="clickable">
          <div>Datum <i class="material-icons">unfold_more</i></div>
        </th>
        <th (click)="chanceOrder('organisatie')" class="clickable">
          <div>Organisatie <i class="material-icons">unfold_more</i></div>
        </th>
        <th (click)="chanceOrder('locatie')" class="clickable">
          <div>Locatie <i class="material-icons">unfold_more</i></div>
        </th>
        <th>Inschrijven via</th>
        <th>Startlijst</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!loading &&  wedstrijden && wedstrijden.length === 0 ">
        <td colspan="5">Geen wedstrijden voor de gevraagde criteria.</td>
      </tr>
      <tr *ngIf="loading">
        <td colspan="5">Bezig met het zoeken naar wedstrijden ...</td>
      </tr>
      <tr *ngFor="let wedstrijd of wedstrijden | orderBy: order : reverse | paginate: { itemsPerPage: 20, currentPage: p}"
        [hidden]="wedstrijd.gearchiveerd" (click)="toDetails(wedstrijd.id)">
        <td>{{wedstrijd.startdatum | date: 'dd/MM/yyyy'}}
          <div *ngIf="wedstrijd.einddatum">tot en met</div> {{wedstrijd.einddatum | date: 'dd/MM/yyyy'}}
        </td>
        <td>{{wedstrijd.organisatie}}</td>
        <td>{{wedstrijd.locatie}}<span *ngIf="wedstrijd.locatie && wedstrijd.gemeente">, </span>{{wedstrijd.gemeente}}</td>
        <td>
          <a href="{{wedstrijd.inschrijving?.link}}">{{wedstrijd.inschrijving?.text}}</a>
        </td>
        <td>
          <a href="{{wedstrijd.startlijst?.link}}">{{wedstrijd.startlijst?.text}}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped" *ngIf="showGearchiveerd && discipline != 'overig'">
    <thead>
      <tr>
        <th (click)="chanceOrder('sorteerDatum')" class="clickable">
          <div>Datum <i class="material-icons">unfold_more</i></div>
        </th>
        <th (click)="chanceOrder('organisatie')" class="clickable">
          <div>Organisatie <i class="material-icons">unfold_more</i></div>
        </th>
        <th (click)="chanceOrder('locatie')" class="clickable">
          <div>Locatie <i class="material-icons">unfold_more</i></div>
        </th>
        <th>Uitslagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!wedstrijden">
        <td colspan="4">Geen wedstrijden voor de gevraagde criteria.</td>
      </tr>
      <tr *ngFor="let wedstrijd of wedstrijden | orderBy: order : reverse | paginate: { itemsPerPage: 20, currentPage: p}"
        [hidden]="!wedstrijd.gearchiveerd" (click)="toDetails(wedstrijd.id)">
        <td>{{wedstrijd.startdatum | date: 'dd/MM/yyyy'}}
          <div *ngIf="wedstrijd.einddatum">tot en met</div> {{wedstrijd.einddatum | date: 'dd/MM/yyyy'}}
        </td>
        <td>{{wedstrijd.organisatie}}</td>
        <td>{{wedstrijd.locatie}}<span *ngIf="wedstrijd.locatie && wedstrijd.gemeente">, </span>{{wedstrijd.gemeente}}</td>
        <td [innerHTML]="wedstrijd.resultaten"></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped" *ngIf="!showGearchiveerd && discipline === 'overig'">
    <thead>
      <tr>
        <th (click)="chanceOrder('sorteerDatum')" class="clickable">
          <div>Datum <i class="material-icons">unfold_more</i></div>
        </th>
        <th (click)="chanceOrder('type')" class="clickable">
          <div>Type <i class="material-icons">unfold_more</i></div>
        </th>
        <th (click)="chanceOrder('locatie')" class="clickable">
          <div>Locatie <i class="material-icons">unfold_more</i></div>
        </th>
        <th>Info via</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!loading &&  wedstrijden && wedstrijden.length === 0 ">
        <td colspan="5">Geen wedstrijden voor de gevraagde criteria.</td>
      </tr>
      <tr *ngIf="loading">
        <td colspan="5">Bezig met het zoeken naar wedstrijden ...</td>
      </tr>
      <tr *ngFor="let wedstrijd of wedstrijden | orderBy: order : reverse | paginate: { itemsPerPage: 20, currentPage: p}"
        [hidden]="wedstrijd.gearchiveerd" (click)="toDetails(wedstrijd.id)">
        <td>{{wedstrijd.startdatum | date: 'dd/MM/yyyy'}}
          <div *ngIf="wedstrijd.einddatum">tot en met</div> {{wedstrijd.einddatum | date: 'dd/MM/yyyy'}}
        </td>
        <td>{{wedstrijd.type}}</td>
        <td>{{wedstrijd.locatie}}<span *ngIf="wedstrijd.locatie && wedstrijd.gemeente">, </span>{{wedstrijd.gemeente}}</td>
        <td [innerHTML]="wedstrijd.informatie"></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped" *ngIf="showGearchiveerd && discipline === 'overig'">
    <thead>
      <tr>
        <th (click)="chanceOrder('sorteerDatum')" class="clickable">
          <div>Datum <i class="material-icons">unfold_more</i></div>
        </th>
        <th (click)="chanceOrder('type')" class="clickable">
          <div>Type <i class="material-icons">unfold_more</i></div>
        </th>
        <th (click)="chanceOrder('locatie')" class="clickable">
          <div>Locatie <i class="material-icons">unfold_more</i></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!wedstrijden">
        <td colspan="4">Geen wedstrijden voor de gevraagde criteria.</td>
      </tr>
      <tr *ngFor="let wedstrijd of wedstrijden | orderBy: order : reverse | paginate: { itemsPerPage:20, currentPage: p}"
        [hidden]="!wedstrijd.gearchiveerd" (click)="toDetails(wedstrijd.id)">
        <td>{{wedstrijd.startdatum | date: 'dd/MM/yyyy'}}
          <div *ngIf="wedstrijd.einddatum">tot en met</div> {{wedstrijd.einddatum | date: 'dd/MM/yyyy'}}
        </td>
        <td>{{wedstrijd.type}}</td>
        <td>{{wedstrijd.locatie}}<span *ngIf="wedstrijd.locatie && wedstrijd.gemeente">, </span>{{wedstrijd.gemeente}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event" previousLabel="Vorige" nextLabel="Volgende"></pagination-controls>
</div>