// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import 'styles/_layout.scss';
@import 'styles/_variables.scss';
@import 'styles/wedstrijd.scss';
